[2016-03-18 21:19] messers0 opened #10 "Addon Configuration"
Where do I configure this addon? I can't find it listed in my Kodi GUI and I can't find any files other than the Team Kodi version of the inputstream addon.

[2016-03-18 21:28] mapfau commented on #10
hi messers(),

1) you need lastest kodi nightly build (kodi 17)
2.) addons->settings->user addons->VideoPlayer InputStream->inputstream.mpd

[2016-03-18 22:13] messers0 commented on #10
Ah I was using an unrelated test build by mistake. When attempting to open a .strm file containing the first example URL (after configuring the addon with the first example configuration URL) I get [this log output](http://pastebin.com/raw/4Wukj3dy).

[2016-03-18 23:18] #10 closed

[2016-03-19 01:29] messers0 opened #11 "YouTube MPD Playback Attempt"
I got a DASH manifest [link](http://pastebin.com/raw/n0PCiPSs) for a YouTube video by opening
`http://www.youtube.com/get_video_info?&video_id=Avxi4zoYXt8`
and passing the result through a [URL decoder](http://meyerweb.com/eric/tools/dencoder/) until everything was decoded.

This URL was put into a .strm file and
`https://manifests.googlevideo.com`
was added to the addon's configuration.

When att

[2016-03-19 09:37] mapfau commented on #11
unfortunately I have no experience how youtube works, from log file I see:

Where does this come from? Does kodi downloads a .mpd file to this location from the link passed?
It seems to be wrong.

To get it run its on you to extract the correct url to the .mpd file. Inputstream.mpd is registered to only be activated if you pass an URL wich adresses an URL with a file extension .mpd.

Have you alre

[2016-03-19 17:28] messers0 commented on #11
Let me try that procedure again, this time doing what I claimed I did :/ My mistake. Here's the new [debug log file](http://pastebin.com/raw/yVM2qxQu).

[2016-03-19 17:29] messers0 commented on #11
And yes, that file was the XML MPD I the URL pointed to. This time the file opened is a .strm file with the URL in it instead.

[2016-03-20 08:10] mapfau commented on #11
first major problem is still present (it is a conceptual problem):
The inputstream.mpd addon has registered the file extensions .mpd (see addon.xm)
kodi only passes URL's to the addon, wich ends with .mpd. This is not true for the URL here.

Solution 1: service addon wich wrappes the youtube url to a localhost URL with ending .mpd:
- youttube addon want to play an mpd -> the sevice addon passes "l

[2016-03-20 12:27] mapfau commented on #11
I have talked to the kodi team - we will give the possibility that you can override the restriction with the file extension. Nevertheless it would be great if you could provide an .mpd so I can take a look over it if there are more issues to solve.

[2016-03-20 17:54] messers0 commented on #11
As far as I know you'll have to get the MPD yourself using the method above for YouTube to use it in a client- I think they use IP and expiration restrictions. I have uploaded [an old MPD](http://pastebin.com/raw/RMFAGVNw) however.

[2016-03-20 21:33] mapfau commented on #11
Thanks for the information, I looked to the mpd file and have one question:

[code]
How ist this file segmented? What means <Initialization range="0-591"/>?
For now the mpd inside this addon expects either byte-ranges or templated fragment names.
For the latter case I expect an placeholder e.g. {ID} in the BaseURL to be able to retrieve exactly one complete segment.

Do you know how to download fo

[2016-03-20 22:11] messers0 commented on #11
Unfortunately I don't know the answers to those questions.

[2016-03-20 22:27] mapfau commented on #11
OK; I'll ask around..... thanks nevertheless

[2016-03-21 17:08] mapfau commented on #11
could you pls tell me where on youtube mpd files are accessible?
Do I have to login or visit a special section?
( I want to look in chromes developer window how the streams are requested)

[2016-03-21 21:28] messers0 commented on #11
The only way I know of to retrieve them is as described.

[2016-03-21 22:30] mapfau commented on #11
Ah, ok, I can do it on every movie, ok. I'll look for it

[2016-04-03 12:10] asavah opened #12 "Build broken after https://github.com/xbmc/xbmc/pull/9499 merge"
https://github.com/mapfau/inputstream.mpd/blob/master/src/MainDash.cpp#L631

[code]

Note: full path replaced with ~ in output.

[2016-04-03 12:15] mapfau commented on #12
Thanks, its known, I cannot compile anything because kodis change to VS2015.
The PR to get the part you mentioned running was merged yesterday evening.

I'll try to fix it without compiler available....

[2016-04-03 12:22] asavah commented on #12
No hurries/worries just wanted to let you know that you may have forgotten to change the actual code in the addon after all the suggested changes in the PR, with the "original" PR it was building fine.

[2016-04-04 06:12] asavah commented on #12
Thanks.
Builds fine after https://github.com/mapfau/inputstream.mpd/commit/d3265960edab4363c150fd888d345adc1ac7bf96 (cross build gcc 4.9-linaro).
Won't be able to runtime test until night, but *if* it does not work that would be another issue :)

[2016-04-04 06:12] #12 closed

[2016-04-04 06:29] mapfau commented on #12
@asavah  it will not work with current decrypter of libdev because of an change in the interface between inputstream.mpd and decrypters. I'm sure decrypter from libdev will be fixed soon.
(libdev=github.com/liberty-developer)

[2016-04-12 15:50] eracknaphobia opened #13 "Help using inputstream with HLS"
I am trying to use the new inputstream to improve my NHL & MLB addons. Something the users have been asking for is a way to start a live stream from the beginning. From what I've been told there is a way for me to do this with the newly added inputstream feature. The problem is I am not sure where to even start testing this out.
If you have any pointers as to where to start on getting this working

[2016-04-28 14:13] mapfau commented on #13
sorry, didn't recognize this post earlier :-(
I'll take a look on the kodi post - I implemented live-stream in inputstream.smoothstream addon, for mpeg dash there was no example so far - I'll take a look on it.

[2016-05-05 10:57] thrillfall opened #18 "Howto build inputstream.mpd.so"
I am on raspbian and have installed kodi 17 from pplware repos. I also installed the inputstream.mpd plugin. But i am missing the **inputstream.mpd.so** for actually watching amazon prime via Sandmann Amazon VOD.
How can i build this file? Do i just need to "cmake ."?

[2016-05-05 11:07] mapfau commented on #18
Hi, xbmc/docs/README.linux have an example how to build:

.1  Specific addons
    $ make -C tools/depends/target/binary-addons PREFIX=/<system prefix added on step 4.1> ADDONS="inputstream.mpd"

[2016-05-05 11:43] thrillfall commented on #18
Thanks for the quick answer:
when i execute that command i get
[code]
Sorry, but i am really new to compiling from source. How do i include your stuff? Do i need to copy the checkout sources from this repo into the xmbc source?

[2016-05-05 11:54] mapfau commented on #18
can you pls post the full make command and the folder from where you execute it?

You normally dont have to download anything, this should be done automaticaly by the scripts that comes with kodi.

[2016-05-05 11:58] thrillfall commented on #18
i checkout out kodi sources in /xbmc and your repo is in /inputstream.mpd.
I executed `root@station:/xbmc# make -C tools/depends/target/binary-addons PREFIX=/ ADDONS="inputstream.mpd"`

[2016-05-05 12:35] mapfau commented on #18
1.) You don't have to checkout the sources from here, the URL of this repository is known from kodi as this repo here is included in the official binary addon repo from kodi. Download should be done automatically (same for pvr addons)

2.) Prefix must be the same you passed to the build step of kodi, as I remember the default is /usr/local, but you must pass it in the make -C.... command correctly

[2016-05-05 12:47] thrillfall commented on #18
I am doing that right now. I thought that i could just compile the addon and move `inputstream.mpd.so` to my existing kodi installation on my rpi2. Unfortunately there is no deb (armhf) available with your plugin.
Thank you so much for helping me on this.

[2016-05-05 12:47] #18 closed

[2016-05-05 12:50] mapfau commented on #18
ok, understood
then its a little bit different I'll send you a link for this, mom

[2016-05-05 13:03] mapfau commented on #18
[Build instructions binary addons](http://forum.kodi.tv/showthread.php?tid=219166)
This is more meant for developers and you have to copy the generated files after that manually in your kodi folder. Not sure if you really want this, its kind of pain to get all steps together.

inputstream.mpd is generated for various plattforms every night, for that you have to add an ppa to your system repo setti

[2016-05-05 13:06] thrillfall commented on #18
Thanks, i'll try that then. I have added `http://pipplware.pplware.pt/pipplware/dists/unstable/armv7/binary` for kodi. This is the only repo that holds kodi 17 builds for arm. Sadly they dont build the inputstream.mpd plugin. So no `apt-get install` for me.

[2016-05-05 13:14] mapfau commented on #18
OK, sometimes its easier to build it by oneself, searching for such things cost also enourmeous time. There are several people providing complete OE's, one I know is milhouse who has always working inputstream addons inside his package. Good luck!

[2016-05-13 16:40] h0d3nt3uf3l commented on #11
Is there any news about this topic? I'm one of the youtube addon maintainer and I'll try to implement inpitstream for the next Release. I'm happy for any help :)

[2016-05-13 16:47] mapfau commented on #11
Hi, sure, under development - minor changes are missing, If nothing unexpected happens tonight, it will be in the tommorow nightlies kodi builds.

[2016-05-13 17:30] h0d3nt3uf3l commented on #11
Hi, can you give me a hint where i can find a reference or documentation, something like that. Sadly my knowledge about kodi isn't that hughe. Still need to learn a lot

[2016-05-13 20:08] mapfau commented on #11
From python plugin:
[code]
You pass two values to kodi using a listitem element:
- inputstreamaddon=inputstream.mpd (to force kodi using inputstream.mpd for playing the path)
- path (the path to the dash manifest file)

From .strm file
[code]

For you it means extracing the URL to the manifest file wich produces an output similar to the xml structure shown above if sending to youtube, and simply p

[2016-05-13 21:01] mapfau commented on #11
my stuff is pushed - youtube videos could work now.....

[2016-05-14 04:49] messers0 commented on #11
@h0d3nt3uf3l What repo should I follow to see if/when your add-on implements this?

[2016-05-14 09:43] h0d3nt3uf3l commented on #11
[Kolifanes](https://github.com/Kolifanes/plugin.video.youtube) is the main repo. [https://github.com/h0d3nt3uf3l/plugin.video.youtube](Mine) is for testing. At this moment the addon on my repo don't work properly because there is testing code in it

[2016-06-02 21:19] anxdpanic commented on #11
@mapfau it does work with YouTube videos now, thank you.

https://github.com/anxdpanic/plugin.video.youtube/tree/current <- working support is included here if you would like to have something for future testing, this is a personal fork/branch.

As h0d3nt3uf3l mentioned they maintain the main add-on at Kolifanes,
https://github.com/anxdpanic/plugin.video.youtube/tree/mpeg-dash <- working support a

[2016-06-02 21:26] mapfau commented on #11
@anxdpanic I looked around the youtube videos as well and recognized that many of them are (at least beside mp4) in WEBM format (VP9 / Opus): Inputstream.mpd cannot handle them but @h0d3nt3uf3l  has found out that ffmpeg is able to parse mpd files as well.

Because for youtube no decrypting support is required (widevine or whatever), you could also think about NOT using inputstream.mpd and use ins

[2016-06-02 21:54] anxdpanic commented on #11
yea, he has mentioned working on that. Will be looking into it further going forward with him.
Since it was working, just wanted to confirm for you and if you needed additional testing reference.

[2016-06-02 22:07] mapfau commented on #11
yep, thanks for this!

[2016-06-03 01:35] anxdpanic commented on #11
@messers0 Here is an example using the video from your original post,

http://www.youtube.com/get_video_info?&video_id=Avxi4zoYXt8

unquote/use URL decoder once on the url from the dashmpd parameter and,

**example.strm**
[code]

[2016-06-06 02:04] messers0 commented on #11
I noticed the YouTube add-on fork mentioned also works. Good stuff and looking forward to seeing where it goes.

[2016-06-07 16:28] h0d3nt3uf3l opened #20 "Selectable streams"
Hey, we're just talkin about in another git [(Here)](https://github.com/ace20022/xbmc/pull/4#issuecomment-223874682)
Maybe its possible to get all available streams forwarded to ffmpeg. I read that it will probess only the active ones. my thoughts are to enable changing streams while watching a video.
I will  prove this topic later on my pc and give you an update.

Edit: Tryied to copy the command

[2016-06-07 20:26] mapfau commented on #20
What is missing, if you pass the mpd manifest file to kodi WITHOUT forcing inputstream.mpd?
ffmpeg should be capable to handle the mpd file and display all streams in kodi.

I don't see any need here that you do any actions here in parsing the mpd. The streams are lying fragmented on the YT server, in general its not simply passing the URL (this could work, but also couldn't).

There are already t

[2016-06-07 20:59] h0d3nt3uf3l commented on #20
Sure I would use it if it works. Sorry for bothering you but I don't find any documentation to do so. I'm allready a little greenhorn, thought that isn't possible. Searched for the last few days for using ffmpeg directly but can't find anything. I'll keep searching.

[2016-06-07 20:59] #20 closed

[2016-06-07 21:44] mapfau commented on #20
But you did it already! Simply pass the URL of the mpd file to kodi like a normal video URL.
Kodi will detect the mime type, and ffmpeg will play it. Thats all.

[2016-06-08 01:34] anxdpanic commented on #20
I assumed you meant something else by using ffmpeg as well. That was the first thing I tried anyway, doesn't seem to work. Mime type is properly detected and error probing input format as far as playback. Just re-tested on the latest nightlies (just have to comment out the inputstream properties) and it's still the same. Also just tried a bunch of http://dashif.org/test-vectors/ via strm and again

[2016-06-08 06:29] mapfau commented on #20
I wouldn't try dashif vectors, these are all different mpd flavours.
I'm quite sure that the YT mpd flavour worked fine (from earlier logs you provided.

There was only an issue with DXVA. Can you pls provide a new log in that you have passed a YT mpd URL to kodi?

[2016-06-08 07:04] anxdpanic commented on #20
xbmclogs is having issues atm, http://pastebin.com/Nymj431c

[2016-06-08 09:17] mapfau commented on #20
thx, ok, I'll enable "manual stream selection" in inputstream.mpd (to let you select all streams) and will pass the streams muxed to ffmpeg (must be forced by yt plugin, more info if its implemented). You can continue testing with inputstream.mpd, there are many yt videos with h.264.

[2016-06-08 09:42] anxdpanic commented on #20
Thank you, appreciate what you're doing/done regardless :+1:

[2016-06-18 07:54] mapfau commented on #11
Inputstream.mpd has now the possibility to display all streams available in the mpd file.
I still have not found time to look for the VP9 / OPUS codecs, maybe I'll simply skip them so kodi doesn't select them. Also there is an bug regarding video resolution, only 720p videos are possible atm. Will fix this today.

[2016-06-18 11:46] axbmcuser opened #21 "1.1.1 1080p selection bug (works in 1.1.0)"
1.1.0 worked very good for fixed 1080p hq with settings:
- min/max bandwidth: 100000000/100000000 (100 Mbit)
- max. resolution: 1080p

1.1.1 with same settings:
- min/max bandwidth: 100000000/100000000 (100 Mbit)
- max. resolution: 1080p
- stream selection (new option): auto
falls back to 720p.
Changing "stream selection" to manual restores working 1080p - but clutters the video- and audio-track l

[2016-06-18 11:53] mapfau commented on #21
There will be a fix coming today for 720p with auto.
Pls. wait with further testing for it, thx!

[2016-06-18 12:04] axbmcuser commented on #21
Again, thanks!

[2016-06-22 19:50] mapfau commented on #21
Ah, forgot to post here, sorry, if your display resolution is ~1080p and you have enough bandwidth, 1080p videos should be played now...

[2016-06-22 21:39] axbmcuser commented on #21
No, i'm sorry - forgot to report that i tried 1.1.2 once is was online with final fixes - works without any problems! :)

[2016-06-23 20:02] mapfau commented on #13
@eracknaphobia should we continue on this?
If so, it would be great if you could provide a manifest file for this.

[2016-06-24 15:41] eracknaphobia commented on #13
I can but right now there are no live games. It may be a bit easier if

[2016-06-24 16:03] eracknaphobia commented on #13
Here's an example of an archived game.
[5000_complete-trimmed.m3u8.txt](https://github.com/mapfau/inputstream.mpd/files/332056/5000_complete-trimmed.m3u8.txt)

[2016-06-26 13:25] mapfau commented on #13
Sorry, I hoped that there is some underlying mpd / smoothstream, but the m3u format above is something special wich are out of my scope.

One Idea (must be decided from one who understands the m3u file in your prevous post) could be transforming it into mpd / smothstream manifest file and send it to one of the 2 plugins.

If this is not possible, I see only the chance to handle it in addon (python

[2016-06-26 13:25] #13 closed

[2016-06-26 15:01] #21 closed

[2016-06-26 15:43] mapfau commented on #11
I have simply added VP9 / OPUS and VORBIS codecs, no idea if this could work.
Are there any other things open? Or can we close this thread here?

[2016-07-06 02:58] frankr612 opened #22 "SegmentTimeline streams will stop during playback"
Hi,

I experienced problems with MPD streams containing SegmentedTimeline fields like that:

`<SegmentTimeline>
<S t="0" d="96256" r="2"/>
<S d="95232"/>
<S d="96256" r="2"/>
<S d="95232"/>
<S d="96256" r="2"/>
<S d="95232"/>
<S d="96256" r="2"/>
<S d="95232"/>
<S d="96256" r="2"/>
<S d="95232"/>
<S d="96256" r="2"/>
<S d="95232"/>
<S d="96256" r="2"/>
<S d="95232"/>
<S d="96256" r="2"/>
<S d="952

[2016-07-06 10:49] mapfau commented on #22
I'll check this one, could you pls provide a link to the mpd file?

[2016-07-06 13:25] frankr612 commented on #22
Sure:

http://damxduspol80-s.akamaihd.net/1007097541/piff-production/content/legacy/80/extremeactiv_6360028_2006/extremeactiv_6360028_2006_uspo0576de20.ism/.mpd

[2016-07-06 20:32] mapfau commented on #22
https://github.com/mapfau/inputstream.mpd/commit/d007056ad5bcca9b43887b62f35529ccff316d2e
thx! Could you pls. test? I have no working example for this.......

[2016-07-06 21:43] frankr612 commented on #22
A first test of an episode which did not work yesterday now plays fine to the end, so it seems it works now. Thanks for fixing!

[2016-07-06 21:53] frankr612 commented on #22
Another thing that might have to do with the Segmentation stuff is that jumping inside of a stream is very slow. Specially on big steps like 10 minutes its obvious and sometimes make kodi freeze. I'm just not sure if thats a normal behaviour cos it seems inputstream.mpd downloads every segment up to the new position, so it takes the time to download those parts until the video continues. Is that n

[2016-07-06 22:31] mapfau commented on #22
Oh, I thought it was already fixed in one of the previous versions :-(
There has been an similar issue with SegmentTimelines on representation level.

I'll try to find an movie for testing, If I have no luck I would please you for your maxdome account for a couple of hours.....

[2016-07-06 22:52] frankr612 commented on #22
Sure, just let me know

[2016-07-07 05:50] mapfau commented on #22
Can you pls give it another try?

[2016-07-07 13:17] frankr612 commented on #22
Just tried but it's still the same

[2016-07-07 21:39] mapfau commented on #22
You have updated inputstream.mpt with the latest commit here, right?
If so, could you pls send me the addon, the access and the stream you're playing with?
We can use pfau@peak3d.de. Thanks!

[2016-07-08 15:18] mapfau commented on #22
solved

[2016-07-08 15:18] #22 closed

[2016-07-09 18:44] Doktor-X commented on #11
hi i manage to play dash video with kodi youtube addon from @anxdpanic on raspberry pi and my main windows mashine using latest version of kodi (706c334) and i have one question. On PI i have problem that if max resolution of video is for instance 4K PI can't play that so my question is? How to restrict max. resolution of videos that i want to be default, i have try to play with settings of inputs

[2016-07-09 19:26] mapfau commented on #11
Hi, what version of inputstream.mpd do you use?
Beginning with 1.1.6 setting max-resolution to 1080p should not show 4K videos.
If your version is >= 1.1.6, then pls, send me a log to pfau@peak3d.de

[2016-07-09 20:22] Doktor-X commented on #11
hi so on pi version is 1.1.8 and on windows is 1.1.7 i have send you log from windows

[2016-07-11 16:16] dahlSTROM opened #23 "Could not open / parse mpdURL"
Hi!

I have tried using inputstream.mpd for my plugin but haven't got it to successfully play the mpd URL. I have validated that the stream indeed works using http://dashif.org/reference/players/javascript/1.4.0/samples/dash-if-reference-player, but it doesn't parse correctly in the addon. The streams are geo blocked, but here's the sample index.mpd file:

[code]

Kodi log: http://pastebin.com/B65

[2016-07-11 21:32] mapfau commented on #23
SegmentTemplate in AdaptationSet AND Representation are quite new for me, I'll look for it soon.

[2016-07-14 06:20] mapfau commented on #23
@emilsvennesson Can you pls try again?

[2016-07-14 13:06] emilsvennesson commented on #23
@mapfau Will the latest update be in the next nightly? I'm currently only testing Krypton on Windows and it's a PITA to build for Windows. :/

[2016-07-14 13:40] mapfau commented on #23
Hi, should be, yes, the commit was yesterday, so th nightly from this nigth should include this fix
Pls. look at the version number and the changelog, if it matches things here in github

[2016-07-14 14:21] emilsvennesson commented on #23
Well, we're getting further: http://pastebin.com/0xegVmEk :smirk:

The addon attempts to open:
live7-live.dash.adaptive.level3.net/mgx/xtra8/index500k-**1**-20160713T182351.mp4
I did some testing with the working DASH player, and the correct URL to open is:
live7-live.dash.adaptive.level3.net/mgx/xtra8/index500k-**11828**-20160713T182351.mp4.

I'm guessing the 11828 part is some kind of conversion

[2016-07-14 16:32] mapfau commented on #23
Can you pls. provide the mpd file (or the link to it?) I'm quite sure, that the initial mpd is NOT the one wich you started today)

Live-Streams are currently not implemented in .mpd. getting the information above could help me finding a quicker entry into it.

[2016-07-14 16:40] emilsvennesson commented on #23
The URL has a token attached that expires quickly. This is the content of the URL:
[code]

[2016-07-14 16:46] mapfau commented on #23
ok, thx

availabilityStartTime="2016-07-13T18:24:13" is the time the stream started.
one segment is 6 secs, so you started 11828 segments after the start.

I'll do some modifications soon....

[2016-07-21 05:44] mapfau commented on #23
I did some changes regarding live - streams.
Not sure if it already works, due to lack of time / examples my tests has been only minimalistic.

[2016-07-25 05:50] mapfau commented on #23
@emilsvennesson can we close this issue here?

[2016-07-25 11:57] Alexqw commented on #13
@mapfau Sorry for resuscitating an old, closed issue, but it seems like the best place.

A group of us maintain the Kodi add-on for NFL Game Pass, and it also uses HLS. Unfortunately, I don't have a good idea on the scope of work that would need to be done to get InputStream with HLS working (would an independent addon be needed or can this one be extended?).

I am not much of a C coder, but if ma

[2016-07-25 14:07] emilsvennesson commented on #23
@mapfau I haven't been able to test this yet. The latest nightlies have broken the inputstream addons for me. It's probably just my PC acting up, but I'm getting some weird DLL errors.

[code]

I'll try this on Linux instead as soon as I have the time!

[2016-07-25 16:37] mapfau commented on #13
Hi Alex,

I'll take a look into HLS, never spend time on it and have no clue how it looks.
Can you point me to an example wich is based on HLS?

Thanx,

markus

[2016-07-25 19:07] kaileu commented on #13
The example from @eracknaphobia posted an example its a bit confusing and complicated.

#EXTM3U
#EXT-X-PLAYLIST-TYPE:VOD
#EXT-X-TARGETDURATION:10
#EXT-X-VERSION:3
#EXT-X-MEDIA-SEQUENCE:0
#EXTINF:10.0,
http://example.com/movie1/fileSequenceA.ts
#EXTINF:10.0,
http://example.com/movie1/fileSequenceB.ts
#EXTINF:10.0,
http://example.com/movie1/fileSequenceC.ts
#EXTINF:9.0,
http://example.com/movie1/fil

[2016-07-26 07:19] Alexqw commented on #13
@kaileu Couldn't have said it better myself. :-)

@mapfau Apple has some reference examples here: https://developer.apple.com/streaming/examples/

The .m3u8 URLs are easily found in the page's source.

---Alex

[2016-07-26 07:39] mapfau commented on #13
I'll take a look at this how it may fit into the existing .mpd source.
My current feeling ist that it could be easier to write an inputstream.hls instead trying to push these things into inputstream.mpd. Pls. don't expect results very early, I'm currently completely overloaded with real life things :-(

[2016-07-26 07:44] Alexqw commented on #13
@mapfau Thanks for taking a look into this.

Makes sense that a new inputstream.hls would likely be cleaner and easier.

As for real life, don't worry. We're all allowed to have real lives. :-)

---Alex

[2016-08-01 15:07] emilsvennesson commented on #23
@mapfau I was about to try this again but I'm still getting the same DLL errors on the latest alpha. I also gave it a try on Linux, but the inputstream.mpd in the official Kodi PPA is outdated.

[2016-08-01 15:30] emilsvennesson commented on #23
I managed to get the addon working after some copy-paste magic. However, the stream unfortunately still fails to play.

Log: http://pastebin.com/9KqhYf2h

[2016-08-01 16:39] mapfau commented on #23
OK, then I still don't hit the correct index:

AddOnLog: InputStream MPEG DASH: Download http://live3-live.dash.adaptive.level3.net/mtg/SE/index500k-348804-20160708T110633.mp4 finished, average download speed: 21.3936

Could you pls. start the stream in browser, directly pull the mpd file, and tell me at what position browser starts?

[2016-08-01 16:51] emilsvennesson commented on #23
Sure, this is using http://dashif.org/reference/players/javascript/1.4.0/samples/dash-if-reference-player:

Manifest:
[code]

![](http://i.imgur.com/mSI1RIw.png)

[2016-08-01 17:07] mapfau commented on #23
Thanx, but the manifest above seems not to be the one from kodi.log.
Can you curl / http the one from kodi.log pls?

[2016-08-01 17:14] emilsvennesson commented on #23
Sorry, I'm hitting their API to get the manifest URL. They seem to be using several CDN:s so that's why the manifest may differ. Here's the one from kodi.log:
[code]

[2016-08-01 17:59] mapfau commented on #23
Yes, this one seems to be right. The big difference is, that Representations start with StartNumber=1.
Would be great if you can provide me the Number this manifest starts currently. My calculation (348804) doesn't seem to be right.

[2016-08-01 18:05] emilsvennesson commented on #23
![](http://i.imgur.com/uZFrxpB.png)

[2016-08-01 18:08] mapfau commented on #23
OK; thx, I'll recalculate - the dimensions are already OK. Seems that I end short before or behind the timeshift window

[2016-08-01 18:29] emilsvennesson commented on #23
Kodi: index500k-350621-20160708T110633.mp4
dashif: index3000k-350006-20160708T110633.mp4

[2016-08-01 18:30] mapfau commented on #23
thx!

[2016-08-01 18:51] emilsvennesson commented on #23
Huh! Maybe this can help you to calculate? It was available on the dashif player:

![15be107696a6b6a0ae9b618bf33cf98d](https://cloud.githubusercontent.com/assets/1389407/17305194/9d869e2e-5829-11e6-9972-5ee136b01cdf.png)

[2016-08-01 20:39] mapfau commented on #23
OK, there was an UTC conversion issue, I'll push my change now...

[2016-08-02 12:02] emilsvennesson commented on #23
I just gave it a go with 1.2.2 but it's still not working I'm afraid. :/

http://pastebin.com/uqUU78j9

[2016-08-02 12:03] emilsvennesson commented on #23
@mapfau I could send you the manifest URL by email if you're interested. You'd need a nordic VPN though as they are geo blocked.

[2016-08-02 12:08] mapfau commented on #23
14:00:27 T:3968    INFO: AddOnLog: InputStream MPEG DASH: DemuxSeekTime (223083656)

Do you call something like: start from [x]?? Or kodi internal??
For now all streams (also live) are based on 0 (download start time)
Skipping so much is for sure behind the timeshift window

[2016-08-02 12:10] emilsvennesson commented on #23
I just created a .strm file with #KODIPROP:inputstreamaddon=inputstream.mpd on top and tried playing the URL.

[2016-08-02 12:11] mapfau commented on #23
So no DemuxSeek from your side, right?

[2016-08-02 12:12] emilsvennesson commented on #23
Nope!

[2016-08-02 12:13] mapfau commented on #23
Nordic VPN should be no problem, maybe its time now to let me try it
pfau@peak3d.de is my mail....

[2016-08-02 12:13] emilsvennesson commented on #23
@mapfau I'm using an older build of Kodi (20160714) but with the new inputstream.mpd addon though, because the new builds are broken on Windows. http://forum.kodi.tv/showthread.php?tid=283373&pid=2379671

[2016-08-02 12:15] mapfau commented on #23
the new builds should be ok now, if there are problems, I cann tell you where to move the dlls

[2016-08-02 12:16] mapfau commented on #23
(I'm using the latest master, afaik all PR's regarding the dll issue are commited on weekend)

[2016-08-02 12:17] emilsvennesson commented on #23
@mapfau I tried the latest nightly today but I was still getting the same "error 126: "The specified module could not be found." errors. I just sent you an email btw!

[2016-08-02 12:18] mapfau commented on #23
do you have cpluff.dll in your kodi main folder?

[2016-08-02 12:20] emilsvennesson commented on #23
@mapfau Yup, pretty much all DLL files are in the main folder.

[2016-08-02 12:38] mapfau commented on #23
in the inputstream.mpd git there is a lib expat in the source tree, it contains https://github.com/mapfau/inputstream.mpd/tree/master/lib/expat/bin

can you pls copy this file into kodis folder where all dlls are in?

[2016-08-02 12:49] emilsvennesson commented on #23
@mapfau That worked, thanks!

I did a new test and Kodi attempts to open 10220-20160801T194626.mp4 and dashif opens 10203-20160801T194626.mp4 so it's still slightly off.

[2016-08-02 12:54] mapfau commented on #23
Was the one kodi tried behind the stream (Err 404)? Or does it play?

[2016-08-02 12:55] emilsvennesson commented on #23
Error 404, so I think it tries to play an MP4 that hasn't been generated yet (?).

[2016-08-02 12:57] mapfau commented on #23
seems so, yes, ok, will look at it soon

[2016-08-04 04:50] rome1983 opened #24 "Compilation"
Can you add compile instructions?

[2016-08-04 05:17] mapfau commented on #24
Hi, they are included in the README.xy files in kodi source tree [xbmcsrcroot]/docs
Wich OS are you looking for?

[2016-08-04 05:19] rome1983 commented on #24
Hi, I'm using Ubuntu.

[2016-08-04 05:21] mapfau commented on #24
https://github.com/xbmc/xbmc/blob/master/docs/README.linux#L115

[2016-08-04 05:33] rome1983 commented on #24
Thanks

[2016-08-04 20:53] axbmcuser opened #25 "KODI (git 49ea098) crashes when trying to install with todays (2016-08-04) inputstream-changes"
KODI (git 61d6aae) - no crash using latest inputstream.mpd (git ed3eb82)
KODI (git 49ea098) - crash when trying to install inputstream.mpd (git ed3eb82) (if not already installed). If it's already installed crash on boot.

Since we're only talking about todays commits, it could specifically be related to:
https://github.com/xbmc/xbmc/commit/4a67c1632fee7ba5403596fd83b850f2983a8274
https://github.c

[2016-08-04 20:58] FernetMenta commented on #25
you need to compile the addon against current kodi master

[2016-08-04 20:59] axbmcuser commented on #25
Ahh - allright. Thank you very much!

[2016-08-04 21:36] mapfau commented on #25
thx, @FernetMenta

[2016-08-05 01:05] rome1983 commented on #24
I compiled with the instructions and I was able to enable the add-on but kodi crashed when I tried to use the Amazon add-on. I rebooted and kodi crashed on startup.

[2016-08-05 01:06] rome1983 commented on #25
I compiled against master and still got crash. I'm using the nightly ppa.

[2016-08-05 06:50] mapfau commented on #25
Have you removed all build related stuff before? (e.g. git clean -xfd)??

[2016-08-05 06:59] rome1983 commented on #25
I just copied the files to /usr/lib/kodi/addons, /usr/share/kodi/addons.

[2016-08-05 07:13] mapfau commented on #25
can you pls. explain more, what you are compiling and what you are copying?
Do you compile kodi AND addons by yourself? Or only one of those two?

[2016-08-05 07:20] rome1983 commented on #25
I only compiled the inputstream addon. After compiling I get 2 inputstream.mpd folders. One has libs and the other has resources/addon.xml. I use kodi nightly ppa for kodi, no compiling. I had to uninstall inputstream addon from the ppa because kodi kept crashing on startup.

[2016-08-05 07:23] mapfau commented on #25
can you pls git clean-xfd on your local kodi checkout folder?
And then compile addons again? Or did you already cleaned?

[2016-08-05 07:35] rome1983 commented on #25
No I didn't, will try later.

[2016-08-06 00:00] prof-membrane opened #26 "NDR/ZDF streams of the olympics fail"
Could you take a look at those dash streams (geolocked to germany) of the olympics? The streams have a better quality than the m3u8 alternatives. The ZDF stream offers 50fps, which is nice for a sport event like this.

http://ndrspezial.edgesuite.net/dash/live/923078/ndrspezial_1/spezial_1.mpd
http://zdfolympia6001-i.akamaihd.net/dash/live/253735/olympia/6001.mpd

I can provide you other nonfuncti

[2016-08-06 17:02] dweinber opened #27 "Can not open Amazon Prime Video MPDs anymore"
I'm using [Sandmann79's Amazon Plugin](https://github.com/Sandmann79/xbmc/tree/master/plugin.video.amazon) together with inputstream.mpd and this used to work great. Since a few days (didn't use it for a few days, so can't exactly say when this started) it doesn't play any stream anymore. Inputstream.mpd is version 1.2.0 from libreelec repo.

I've included the relevant log messages below. The URL

[2016-08-06 17:09] mapfau commented on #27
There has a lot of things changed with versions / api's between inputstream / kodi and decrypter.
If you have autoupdate enabled for inputstream addon you may have got one wich is not compatible.

You can mail the full debug log to me, maybe I can figure out whats wrong.

[2016-08-06 17:24] dweinber commented on #27
Will do, thanks. Just the kodi.log or is there anything more specific/verbose?

Guess I'll disable auto update once this is working again...

[2016-08-06 21:23] rome1983 commented on #24
I got it compiled and kodi doesn't crash but its not finding the decrypter.

[2016-08-07 00:15] dweinber commented on #27
Seems like the API changes of Kodi broke my system. The addons updated to the new version, but Kodi itself was not updated since June. Updating Kodi and the addons to the latest versions finally did the trick.

[2016-08-07 00:15] #27 closed

[2016-08-07 06:16] mapfau commented on #24
You also have to recompile the wvdecrypter from github.com/lberty-developer

[2016-08-07 06:23] rome1983 commented on #24
I used this before
http://nmacleod.com/public/libreelec/getwidevine.sh

[2016-08-07 06:32] mapfau commented on #24
No idea, when he compiled this one the last time - beginning with 1.2.0 there was an API change between inputstream and libssd_wv.

But compiling is really simple, clone the inputstream.mpd, go into the folder wvdevrypter, call cmake . and then make.

[2016-08-07 06:37] rome1983 commented on #24
Ok Thanks

[2016-08-07 17:51] rome1983 commented on #24
Success Thank you

[2016-08-07 17:51] #24 closed

[2016-08-10 23:34] axbmcuser commented on #25
I think this can be closed?

[2016-08-11 14:28] emilsvennesson commented on #23
@mapfau I just tried again with 1.2.6 and it works! :smile:

[2016-08-13 03:14] alibbaba commented on #23
If you change settings named "Stream Selection" to "Manual" , it will pick up the highest resolution. Otherwise as you said it will pick lowest resoluton. I am in windows.
![alt tag](http://i.imgur.com/ywlGVXv.png)

[2016-08-18 08:57] rome1983 opened #29 "youtube fps"
Currently when using the youtube addon in kodi with dash it switches fps 2 or 3 times.

[2016-08-18 21:29] #29 closed

[2016-08-20 11:46] mapfau commented on #23
In general all video resolutions are residing inside one AdaptationSet.

If you choose StreamSelection: Auto, the best matching stream from the AdaptationSet is taken and there should not be the possibility to select between streams.

Seems that YT mpd files have a diffeerent logic...... I'll analyse one of those..

[2016-08-20 11:54] mapfau commented on #11
There are a bunch of changes beginning 1.2.0, especially respecting kodis display rect (the resolution).

[2016-08-20 11:54] #25 closed

[2016-08-20 11:55] mapfau commented on #26
fixed

[2016-08-20 11:55] #26 closed

[2016-08-20 12:23] emilsvennesson commented on #23
@mapfau That's with manual. You're right, with auto there's no possibility to select streams. It would have been nice if one option in Stream Selection was 'Always use the highest bitrate' or something like that. Auto keeps selecting a low bandwidth stream even with the minimum bandwidth adjusted.

[2016-09-01 06:41] abeiro commented on #23
Hey. Tried a ffmpeg generated mpd DASH  file, but last nightly didn't work.

You can test it from here:

[https://chicago.amplayer.xyz/tests/big_buck_bunny_480p_surround-fix.dash/big_buck_bunny_480p_surround-fix.mpd]

[2016-09-01 07:55] mapfau commented on #23
<SegmentTemplate timescale="12288" initialization="init-stream$RepresentationID$.m4s" media="chunk-stream$RepresentationID$-$Number%05d$.m4s" startNumber="1">

From technical POV it is so much nonsense to write Representation Placeholders if a template is defined inside a Representation. I'll make a fix of it also it is pure nonsense....

[2016-09-01 08:19] prof-membrane opened #31 "Kodi crashes playing following streams"
http://akamai-progressive.irt.de/arte_uhd_lecorsaire_13min/M4Sv2/V-3840x2160p50_h265_main_bt709_gop100_bit7500k_A1-192k_aac_lc_48k_2ch_ger.mpd
http://akamai-progressive.irt.de/arte_uhd_lecorsaire_13min/M4Sv2/V-3840x2160p50_h265_main_bt709_gop100_bit14M_A1-192k_aac_lc_48k_2ch_ger.mpd

Kodi Beta 1, Inputstream 1.2.6, Windows 7. Unfortunately, I can't test it on my Odroid if it is an issue releated t

[2016-09-01 19:46] mapfau commented on #23
solved with the latest commit (version 1.2.8)

[2016-09-04 20:51] mapfau commented on #31
The streams seem to be not valid (at least for me). MOOV defines a single track with id 4, but after 2 fragments with trackid==4 trackid==3 is send. Where are these movies from?

[2016-09-05 13:53] prof-membrane commented on #31
The streams are from http://tv-html.irt.de/hbbtv2/arte/uhd_showcase/index.html, an official UHD/HbbTV 2.0 test site of Arte. Arte might be delivering content like this in the near future, but this is just a guess.

I can't say anything about the properties of the stream itself. I have seen some similar (working) examples from the IRT, with additional audio tracks for various qualities.

[2016-09-05 14:01] mapfau commented on #31
at least the first one is now playing with version 1.2.9

[2016-09-05 15:23] prof-membrane commented on #31
Nice. That is the only stream I "cared" right now.

BTW: In the last few weeks, I came across some streams which won't work in Kodi. Most of them are just example streams, unrelated to any real world applications. Do you want such URLs?

[2016-09-05 15:34] mapfau commented on #31
Jep, could you pls open one issue for each? then I can close them easily...

[2016-09-08 10:44] prof-membrane opened #32 "Corrupted video with this stream"
http://akamai-progressive.irt.de/Interop/2015_11/1.5/16adapt/hbbtv_1.5_16adapt_3.mpd

The DashIF Player has no problem with this stream, but Kodi has problems decoding it via DVXA2/software. I'm not sure if this is an FFmpeg issue. I can provide screenshots if you can't reproduce the problem.

Inputstream.mpd 1.2.9, Kodi 17 Beta 1, Windows 7

[2016-09-08 10:55] prof-membrane opened #33 "Stream freezes after a minute"
http://irtdashlive1-i.akamaihd.net/dash/live/910540/elemental/dash.mpd

This stream has some timing issues. It plays fine for one minute before Kodi freezes for 10-20s. After that, the video shows massive timing issues. No problems with the DashIF player.

Inputstream.mpd 1.2.9, Kodi 17 Beta 1, Windows 7

[2016-09-08 11:27] prof-membrane opened #34 "Stream doesn't work"
http://dash.edgesuite.net/dash264/TestCases/1a/sony/SNE_DASH_SD_CASE1A_REVISED.mpd

From the DashIF Reference Player (http://dashif.org/reference/players/javascript/v2.3.0/samples/dash-if-reference-player/index.html). The add-on can't parse the mpd file.

Inputstream.mpd 1.2.9, Kodi 17 Beta 1, Windows 7

I wrote a small add-on which parses all streams of the DashIF Referrence Player. There are mul

[2016-09-11 21:51] rome1983 opened #35 "Streams not playing anymore"
http://paste.ubuntu.com/23166627/

[2016-09-11 22:16] mapfau commented on #35
you have to choose a different content provider (with sandmanns addon this can be archived in the settings. Choose a level3 CP pls.

[2016-09-11 22:23] rome1983 commented on #35
switching made one video play
http://paste.ubuntu.com/23166852/

[2016-09-12 15:50] mapfau commented on #34
fixed 1.2.11

[2016-09-12 15:50] #34 closed

[2016-09-12 16:22] #31 closed

[2016-09-12 16:23] mapfau commented on #35
I'll have to check it out with an U.S. account. This could take some days

[2016-09-12 16:43] rome1983 commented on #35
Ok

[2016-09-12 16:46] mapfau commented on #33
Could you pls. give it a try with the current version (>=1.2.10)?
I played the video 3 times now without issues?

[2016-09-12 18:44] mapfau commented on #32
Reason is, that there is only one initialization fragment for all video streams (AdaptationSet).
Inside this init data segment we use avc codec data and it is 640x360. ffmpeg uses those values and because of that everything looks so ugly.

To solve this, modification of initdata::codec_extradata must be done. Possible, but I'll wait for this until the issue pops up in real live.

[2016-09-12 21:09] mapfau commented on #32
https://github.com/mapfau/inputstream.mpd/commit/45b23b4bcc4a714182c1209e3039d52613753794

[2016-09-12 21:09] #32 closed

[2016-09-14 13:40] zaphod24 commented on #35
Explicitly set the CP to all of the providers except for CloudFront which seems to have a different authentication problem. After the latest update, I do get audio but no video and the following in the logs:

ERROR: AddOnLog: InputStream MPEG DASH: Decrypt Sample returns failure!

[2016-09-14 19:30] rome1983 commented on #35
Thanks

[2016-09-14 20:41] jobisoft commented on #35
I do not know if relevant: I use sandmans Amazon VOD addon ("the other one") where I can not select any content provider. This is also not playing anything anymore.

[2016-09-14 21:24] rome1983 commented on #35
same here audio no video.
http://paste.ubuntu.com/23179642/

[2016-09-14 22:02] mapfau commented on #35
@jobisoft if you cannot deselect CloudFrond (by selecting another content provider), there is currently no chance. Maybe sandmann can find out why its not working

@rome1983 This is an issue wich has to be fixed in decrypter, but this is not my implementation and should be posted in the git repo of liberty-developer.

[2016-09-25 22:20] prof-membrane opened #37 "Feature request: Stream with subtitle"
Here is a livestream with subtitles:
http://irtdashreference-i.akamaihd.net/dash/live/901161/bfs/manifestBR.mpd

I bet that you have more important features to implement, this is certainly low priority. I might have more streams for you in the future.

[2016-10-08 13:05] h0d3nt3uf3l opened #38 "Error 22 with YouTube manifest"
Hi,

working on a new Addon and get the most videos to work with my second dev.
Today I'll searched around and found a video is not playable over dash

Debug-Log:
http://pastebin.com/0BTxQqEM

If I try to open the mpd in my browser it says "Error 403: Your client does not have permission to get URL" with other URL this don't happend.
I try to watch the video over the browser (https://www.youtube.c

[2016-10-08 15:34] peak3d commented on #38
can you pls. download the mpd file and pasteinit it? I'm getting an 403. Thx!

[2016-10-08 16:02] h0d3nt3uf3l commented on #38
Same for me... Is guess that is the same Problem for urllib in inputstream.
Seems like the link is broken? But is this possible?

[2016-10-08 16:06] peak3d commented on #38
I guess that its possible directly after you try to play it in kodi.
kodi was able to download the URL at time you played.
- try to play the movie again
- look directly into the kodi log, grep the URL of the manifest
- paste it into browser.

[2016-10-08 17:24] h0d3nt3uf3l commented on #38
http://pastebin.com/TKHWAuHv

Nope. The same Error again.
Can't load the manifest over the browser right after trying to play it. Error403 Forbidden

[2016-10-08 18:30] peak3d commented on #38
web.de mail....

[2016-10-14 14:20] mancaveman opened #40 "Feature Request: WebM DASH support"
Currently the plugin fails playing WebM MPD streams as it tries to open the webm/matroska format using libbento4.

Probably not a small project but It would be nice if someone could add this eventually.

Related:
http://wiki.webmproject.org/adaptive-streaming/webm-dash-specification
https://github.com/webmproject/libwebm
Example stream: http://yt-dash-mse-test.commondatastorage.googleapis.com/medi

[2016-10-14 18:33] anxdpanic commented on #38
From what I can determine, the signatures of those videos(manifest is error 22/403) seen as /s/1E53926475D6FCD23D5215587F8524694674CE07.5741459DDF8A042D3B8D54C6E161FEDF6CFAC9B69BF/ in the url requires deciphering. When deciphered the final url would be /signature/<deciphered signature>/ don't believe this is related to this project at all.

For these videos, the returned result of http://www.youtu

[2016-10-14 19:48] h0d3nt3uf3l commented on #38
Thanks anxdpanic... thought I allready looked for "use_cipher_signature". Know I think I know what to do :)

[2016-10-14 21:14] peak3d commented on #40
thx, will look into it

[2016-11-27 13:11] glennguy opened #41 "'Could not open / parse mpdURL' on manifest for encrypted stream"
Trying to get this to work. I have the widevine decrypion module installed but it's failing to read the manifest file. Here is the contents of it:
[code]

I've also tried a sample encrypted stream from DASH industry forum website with the exact same issue. I can provide a Kodi log file if you want but there didn't seem to be any other relevant information in it.

[2016-11-29 11:41] glennguy commented on #41
Just realised that the log might help not necessarily from what's in it but what's not in it.
Here is the excerpt from pressing play:

[code]

[2016-11-29 13:13] glennguy commented on #41
Please close the issue - I've discovered this has happened because I overlooked having to set the listitem properties for inputstream.mpd.license_type and inputstream.mpd.license_key.

[2016-12-03 12:52] #41 closed

[2016-12-30 17:47] Doktor-X commented on #11
What settings to use so that youtube plugin use max resolution of 1080p

[2017-02-19 13:16] neosqualls opened #42 "MPD and media path relative and absolute"
Hi,

I have some MPD file with representation media url absolute, i have some problem to play them because it seems like inputstream get the path of the manifest file as base path for playing media.

So, if i have an absolute path to video file in my manifest it cannot work. As i can't edit the manifest what would be the way ? Is it possible to automatically detect if video path is the absolute pa

[2017-03-21 06:41] X-Kent commented on #13
Any news ?

[2017-04-15 01:34] awaters1 commented on #13
I took a swing at this in my repository https://github.com/awaters1/inputstream.hls.  I am still in the process of testing it but it is nearly feature complete and works very well with my ESPN3 addon.  I have only tested it on my personal Linux machines so I am unsure if it works on Android, Windows, or other Linux machines.

[2017-04-15 06:26] aqw commented on #13
@awaters1 /Fantastic/. I don't have time to test it right now, but I just wanted to say "thank you" for taking a whack at this.

---Alex